<style>
  .logo1 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 0px 8px 0px;
    font-weight: bold;
    color: #ce0505;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
  }

  .loginpart {
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 2rem;
      color: #fff;
      cursor: pointer;
    }

    .btn-Createaccount {
      border: 1px solid;
      border-radius: 0.2rem;
      padding: 0.4rem 0.5rem;
    }

    .btn-transperant {
      color: #fff;
    }

    .btn-transperant:hover {
      color: #fff;

    }
</style>

<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  style="height: 4.5rem; background-color: #ce0505 !important"
>
  <div class="container-fluid" style="padding: 0.5rem 1.5rem">
    <div class="col-6">
      <div class="logo1">e!</div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if (locals.user) { %>
    <div class="loginpart gap-2">
      <a
        class="btn-transperant btn-Createaccount navbar-brand"
        href="/user/login"
        >Logout</a
      >
      <p class="navbar-brand" style="align-items: center; margin: 0%">
        <%= user.name %>
      </p>
      <img
        src="<%= user.profileImageURL %>"
        width="50px"
        style="border-radius: 70%"
      />
    </div>
    <% } else { %>
    <div class="loginpart">
      <a href="/user/login" class="btn-transperant btn-Login navbar-brand">
        Login
      </a>
      <a
        href="/user/signup"
        class="btn-transperant btn-Createaccount navbar-brand"
      >
        Create an account
      </a>
    </div>
    <% } %>
  </div>
</nav>
